<nav class="navbar  navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand nav-link" routerLink="employees"  routerLinkActive="active" href="#">Employee CRUD</a>
    <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 class="btnTitle">{{title}}</h2>
  <hr>
   <div class="card-body">
     <router-outlet></router-outlet>
   </div>
</div>